.movie {
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #230052;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  text-align: center;
  color: white;
}

.movie h3 {
  color: #eccf77;
  margin: 0;
  font-size: 1rem;
}

.movie h4 {
  color: #eccf77;
  font-size: 0.8rem;
}